.artistes-list{
  padding: 5px;
}

.artistes-main{
  display: flex;
  border-top: 5pt solid #FF3333;
}

li.artistes {
  list-style-type: none;
  padding: 20px;
}

.artistes-title{
  color: #FF3333;
}


.artistes-body {
  color: #666666;
}
