.article-billeterie-column{
  padding: 20pt 50pt;
  //border: 1pt solid red;
}

.article-billeterie-row{
  border: 1pt solid red;
}

.grid-container {
    padding-right: .62;
    padding-left: .625rem;
    max-width: 100%;
    margin: 0 auto;
}

.billeterie-column{
  padding: 0 50pt;
}

.col-2{
  border-right: 5pt solid red;
  border-left: 5pt solid red;
  padding: 0 50pt;
}


.billeterie-column .button{
  width: 100%;
}
