body{
  width: 1500px;
  margin: 0 auto;
}

body a{
  color: #FF3333;
}

body a:hover{
  color: red;
}

body .button{
  background-color: #FF3333;
  color: black;
  font-size: x-large;
}

body .button:hover{
  background-color: red;
}

.mainheader{
  background:grey;
}

.events-title{
  color: #FF3333 !important ;
  border-bottom: 3pt solid black;
}

.events-column{
  padding: 0 30pt;
}

.mainfooter{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin-top: 150px;
  background-color: #efefef;
  text-align: center;
}

.footer-grid-region{
  display: flex;
  justify-content: space-around;
}
