.mainnav{
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 9999;
}

.mainnav ul {
  list-style-type: none;
}

.mainnav li a {
    color: black;
    font-size: x-large;
}

.mainnav .ct a{
  color: black;
  //text-align: center;
  text-decoration: none;
}

.mainnav li a:hover:not(.active) {
    color: white;
    text-decoration: underline;
}

.top-bar, .top-bar ul {
    background-color: #FF3333;
    display: flex;
}

.top-bar-right{
  padding-top: 20px;
}

.toolbar-tray-open.toolbar-fixed .mainnav{
  top:80px;
}
.toolbar-fixed .mainnav{
  top:40px;
}
